.device-usage-table-card {
  .card-header {
    margin-bottom: 15px;
  }
  /* 修改整个表格背景 */
  .ant-table {
    background-color: #162449 !important;
  }

  /* 修改表头背景 */
  .ant-table-thead > tr > th {
    background-color: #162449 !important;
  }

  /* 修改表格行背景 */
  .ant-table-tbody > tr > td {
    background-color: #162449 !important;
  }

  /* 修改鼠标悬停行背景 */
  .ant-table-tbody > tr:hover > td {
    background-color: #162449 !important;
  }
  // :global {
  //   .ant-table {
  //     background: #162449 !important;
  //     color: #ffffff;
  //   }
  // }
}
